{template 'header'}
<ul class="nav nav-tabs">
    <li class="active" ><a href="{php echo $this->createWeburl('advertisement', array('op' => 'editshow'));}">编辑广告</a></li>

</ul>
<form action="" method="post" class="form-horizontal" id="myform" role="form" enctype="multipart/form-data">
    <div class="form-group" id="ling-1">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">图标:</label>
        <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
            {php echo tpl_form_field_image('icon', getImage($data['icon'], true), getImage($data['icon_path']));}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题:</label>
        <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
            <input class="form-control" name="title" placeholder="标题" value="{$data['title']}" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">描述:</label>
        <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
            <input class="form-control" name="describe" placeholder="描述" value="{$data['describe']}" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否跳转到其他程序</label>
        <div class="col-sm-9 col-xs-12">
            <label class="radio-inline">
                <input type="radio" name="type" value="1"  {if $data['type'] == 1} checked {/if}/> 跳转
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" value="2" {if $data['type'] == 2} checked {/if}/>当前小程序
            </label>
            <label class="radio-inline">
                <input type="radio" name="type" value="3" {if $data['type'] == 3} checked {/if}/>H5
            </label>
        </div>
    </div>
    <div class="form-group" id="type_isShow" {if $data['type'] !=1 } style="display:none"{/if}>
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">appId<span style="color: red">*</span>:</label>
        <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
            <input class="form-control" name="appid" placeholder="appId" value="{$data['appid']}" type="text">
        </div>
    </div>
    <div class="form-group" id="path">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">路径</label>
        <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
            <input class="form-control" name="path" placeholder="路径" value="{$data['path']}" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
        <div class="" >
            <input type="hidden" name="op" value="edit">
            <input type="hidden" name="position" value="{$data['position']}">
            <input type="hidden" name="mode" value="1">
            <input type="submit" name="submit" id="submit" value="保存" class="btn btn-primary">
        </div>
    </div>
</form>
{template 'footer'}
<script>
    $(function () {
        $("input[name='type']").click(function () {
            if ($(this).val() == 1) {
                $('#type_isShow').show();
                //$('#path').hide();
            } else {
                $('#path').show();
                $('#type_isShow').hide();
            }
        });

    })
</script>