{template 'header'}
<link href="./resource/css/app.css" rel="stylesheet">
<script src="./layui/layui.js"></script>
<link href="./layui/css/layui.css">
<ul class="nav nav-tabs">
    <li class="active"><a href="javascript:;">资金日志</a></li>
</ul>

<form action="./index.php" method="get" class="form-horizontal">
    <input type="hidden" name="c" value="site">
    <input type="hidden" name="a" value="entry">
    <input type="hidden" name="m" value="bh_step">
    <input type="hidden" name="do" value="money_log">

    <div class="form-group">
        <label class="col-xs-12 col-sm-1 control-label">会员昵称</label>
        <div class="col-sm-2 col-xs-12">
            <input type="text" class="form-control" name="member_name"  value="{$member_name}" />
        </div>
        <label class="col-xs-12 col-sm-1 control-label">资金类型</label>
        <div class="col-sm-2 col-xs-12">
            <select class="select valid" name="status" size="1" aria-invalid="false" style="width: 150px;">
                <option value="0">资金类型</option>
                {loop $status $key $item}
                <option value="{$key}" {if $key == $money_log_status}selected="selected"{/if}>{$item}</option>
                {/loop}
            </select>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
        </div>
    </div>
</form>

<div class="panel panel-default">
    <div class="table-responsive panel-body">
        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
                <th style="width:70px;">会员账号</th>
                <th style="width:60px;">金额</th>
                <th style="width:85px;">类型</th>
                <th style="width:60px;">时间</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $item}
            <tr>
                <td>{$item['member_name']}</td>
                <td>{$item['money']}</td>
                <td>{$item['status_name']}</td>
                <td>{php echo date('Y-m-d H:i:s',$item['created'])}</td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>
    {$pager}
</div>
<script type="application/javascript">
        $('.delete').click(function () {
            if (!confirm('确认要删除该商品')) {
                return false;
            }
            id = $(this).data('id');
            $.post('', {id:id, op:'delete'}, function (data) {
                if (data.status == 1) {
                    location.href = location.href;
                } else {
                    alert('删除失败');
                }

            }, 'json')
        });

        $('.is_down').click(function () {
            if (!confirm('确认要' + $(this).html())) {
                return false;
            }
            id = $(this).data('id');
            $.post('', {id:id, op:'down'}, function (data) {
                if (data.status == 1) {
                    location.href = location.href;
                } else {
                    alert('设置失败');
                }

            }, 'json')
        });
    });

</script>