{template 'header'}
<ul class="nav nav-tabs">
    <li class=""><a href="{php echo $this->createWeburl('question');}">常见问题管理</a></li>
    <li class="active"><a href="javascript:;">添加问题</a></li>
</ul>
<form action="" method="post" class="form-horizontal" id="myform" role="form" enctype="multipart/form-data">


    <div class="form-group" id="free">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题<span style="color: red">*</span>:</label>
        <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
            <input class="form-control" name="title" placeholder="标题" value="" type="text">
        </div>
    </div>


    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">内容:</label>
        <div class="col-sm-7 col-lg-8 col-md-8 col-xs-12">
            <textarea rows="10" cols="84" name="content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
        <div class="" >
            <input type="hidden" name="op" value="add">
            <input type="submit" name="submit" id="submit" value="添加" class="btn btn-primary">
        </div>
    </div>
</form>
{template 'footer'}

<link rel="stylesheet" type="text/css" href="../../../../addons/{$modular_name}/template/js/webuploader/css/globle.css?1" />
<script type="text/javascript" src="../../../../addons/{$modular_name}/template/js/webuploader/js/webuploader.min.js"></script>
