{template 'header'}
<link href="./resource/css/app.css" rel="stylesheet">
<ul class="nav nav-tabs">
    <li {if ($op == 'home' || $op ==  "") }class="active"{/if}><a href="{php echo $this->createWeburl('shop');}">商户管理</a></li>
    <li {if $op == 'addshow'}class="active"{/if}><a href="{php echo $this->createWeburl('shop', array('op' => 'addshow'));}">添加商户</a></li>
    <li {if $op == 'setting'}class="active"{/if}><a href="javascript:;">入驻设置</a></li>
    <li {if $op == 'check'}class="active"{/if}><a href="{php echo $this->createWeburl('shop', array('op' => 'check'));}">入驻审核</a></li>
</ul>


<div class="panel panel-default">
    <div class="table-responsive panel-body">
        <table class="table table-hover">
            <thead class="navbar-inner">
            <tr>
                <th style="width:80px;">id</th>
                <th style="width:70px;">客户经理</th>
                <th style="width:70px;">商户名称</th>
                <th style="width:80px;">联系电话</th>
                <th style="width:80px;">入住时间</th>
                <th style="width:80px;">审核</th>
                <th style="width:80px;">操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $list $item}
            <tr>
                <td>{$item['id']}</td>
                <td>{$item['username']['username']}</td>
                <td>{$item['shop_name']['shop_name']}</td>
                <td>{$item['mobile']}</td>
                <td>{php echo date('Y-m-d H:i:s', $item['created'])}</td>
                <td>
                    <select class="select valid" name="status" size="1" aria-invalid="false" style="width: 150px;">
                        <option value="0">商户状态状态</option>
                        {loop $status $key $items}
                        <option id="{$item['id']}" value="{$key}" {if $key == $item['status']}selected="selected"{/if}>{$items}</option>
                        {/loop}
                    </select>
                </td>
                <td>
                    <a href="{php echo $this->createWeburl('shop', array('op' => 'view'));}" data-id="{$item['id']}" class="sgree" >查看</a>
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
    </div>
    {$pager}
</div>
<script type="application/javascript">
    $(function () {
        $('.delete').click(function () {
            if (!confirm('确认要删除该问题')) {
                return false;
            }
            id = $(this).data('id');
            $.post('', {id:id, op:'delete'}, function (data) {
                if (data.status == 1) {
                    location.href = location.href;
                } else {
                    alert('删除失败');
                }

            }, 'json')
        });

        $("select[name='status']").change(function () {
            var  status = $(this).val();
            var id      = $(this).find("option:selected").attr("id");
           $.post('', {id:id,status:status, op:'audit'}, function (data) {
                if (data.status == 1) {
                    location.href = location.href;
                } else {
                    alert('审核失败');
                }

            }, 'json')

        });
    });

</script>