{template 'common/header'}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        提现列表
        </h3>
    </div>
    
    <div class="panel-body">
        <div class="table-responsive panel-body">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th>id</th>
                    <th>用户名</th>
                    <th>提现单号</th>
                    <th>提现金额</th>
                    <th>手续费</th>
                    <th>收款码</th>
                    <th>提现时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="level-list">
                {loop $list $item}
                 <tr>
                    <td><div class="type-parent">{$item['id']}</div></td>
                    <td><div class="type-parent"><img src="{$item['avatar']}" width="30" height="30" />{$item['nickname']}</div></td>
                    <td><div class="type-parent">{$item['transid']}</div></td>
                    <td><div class="type-parent">{$item['money']}</div></td>
                    <td><div class="type-parent">{$item['fee']}</div></td>
                    <td>
                        <div class="type-parent">
                        {if $item['type']==1}
                            <a target="_blank" href="{$item['receipt_code']}">收款码</a>
                        {/if}
                        </div>
                    </td>
                    <td><div class="type-parent">{php echo date('Y-m-d H:i',$item['createtime'])}</div></td>
                    <td id="{$item['id']}">
                        {if empty($item['status'])}
                            {if $item['type']==1}
                                <a class="label label-danger send2" data-id="{$item['id']}">确认发钱</a>
                            {else}
                                <a class="label label-danger send" data-id="{$item['id']}">发钱</a>
                            {/if}
                            
                            <a class="label label-warning refuse" data-id="{$item['id']}">拒绝</a>
                        {elseif $item['status']==2}
                            <span class="label label-default">已拒绝</span>
                        {else}
                            <span class="label label-success">已发放</span>
                        {/if}
                    </td>
                </tr>
                {/loop}     
                </tbody>
            </table>
             {$page}   
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".send").click(function(){
        var mymessage=confirm("确认通过零钱到账发放?");
        if(mymessage==true){
            var id = $(this).attr('data-id')
            $.ajax({
                type: "post",
                url: "{php echo $this->createWebUrl('syscash');}",
                data: {id:id,type:1},
                dataType: "json",
                success: function(data){
                    alert(data.message);
                    if(data.type=='success'){
                        $("#"+id).html('<span class="label label-success">已发放</span>');
                    }
                }
            });
        }
    })
    $(".send2").click(function(){
        var mymessage=confirm("是否已经通过收款码发放?");
        if(mymessage==true){
            var id = $(this).attr('data-id')
            $.ajax({
                type: "post",
                url: "{php echo $this->createWebUrl('syscash');}",
                data: {id:id,type:3},
                dataType: "json",
                success: function(data){
                    alert(data.message);
                    if(data.type=='success'){
                        $("#"+id).html('<span class="label label-success">已发放</span>');
                    }
                }
            });
        }
    })
    $(".refuse").click(function(){
        var mymessage=confirm("确认拒绝?");
        if(mymessage==true){
            var id = $(this).attr('data-id')
            $.ajax({
                type: "post",
                url: "{php echo $this->createWebUrl('syscash');}",
                data: {id:id,type:2},
                dataType: "json",
                success: function(data){
                    alert(data.message);
                    if(data.type=='success'){
                        $("#"+id).html('<span class="label label-default">已拒绝</span>');
                    }
                }
            });
        }
    })
</script>
{template 'common/footer'}