{template 'common/header'}
<style type="text/css">
    .table>tbody>tr>td{vertical-align: middle; }
</style>
<div class="clearfix">
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('checkgoods')}">物品列表</a></li>
    <li><a href="{php echo $this->createWebUrl('checkgoods_post')}">添加物品</a></li>
</ul>
<div class="clearfixcon">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="all"></th>                
                        <th>ID</th>
                        <th>商品图片</th>
                        <th>商品名称</th>
                        <th>商品型号</th>
                        <th>参考价格</th>
                        <th style="text-align:center;">操作</th>
                    </tr>
                </thead>
                <tbody  class="che">
                    {loop $list $index $item}
                    <tr>
                        <td><input type="checkbox" value="{$item['id']}"></td>
                        <td class="text-left">{$item['id']}</td>
                        <td class="text-left"><img src="{$item['thumb']}" style="width: 50px;"></td>
                        <td class="text-left">{$item['title']}</td>
                        <td class="text-left">{$item['model']}</td>
                        <td class="text-left">{$item['price']}</td>
                        <td class="text-center">
							<a href="{php echo $this->createWebUrl('checkgoods_post',array('id'=>$item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="详情"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('checkgoods_post',array('act'=>'del','id'=>$item['id']))}" onclick="return confirm('确认删除此商品吗？');return false;" title="删除">删</a>
						</td>
                    </tr>
                    {/loop}
                </tbody>
            </table>
            {$page}
            <div style="margin-top: 20px;    margin-left: -16px;">
                <input id="submit" type="submit" value="删除" class="btn btn-danger">
            </div>
        </div>
    </div>
</div>
{template 'common/footer'}

<script type="text/javascript">
  
$(function () {
    //全选或全不选
    $("#all").click(function(){   
        if(this.checked){   
            $(":checkbox").prop("checked", true);  
        }else{   
            $(":checkbox").prop("checked", false);
        }   
    }); 
    
    //获取选中选项的值
    $("#submit").click(function(){
        var val = '';
        $(".che :checkbox").each(function(i){
            if($(this).is(":checked")){
                val += $(this).val() + ",";
            }
        });
        $.ajax({
            url:"{php echo $this->createWebUrl('Goods_post',array('act'=>moredel));php}",
            data:{ids:val},
            type:"post",
            dataType:"json",
            success:function(data){
                alert('删除成功');
                location.reload();
            }
        });
    });
    
});

</script>